:root {
  --color-primary: #00dad9;
  --color-secondary: #7b8282;
  --color-tertiary: #bdc2c2;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1617150119111-09bbb85178b0?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  animation-name: clouds;
  animation-duration: 35s;
  animation-iteration-count: infinite;
}

@keyframes clouds {
  0% {
    background-position-x: 0;
  }

  50% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0;
  }
}

.bold {
  font-weight: bold;
}
.card {
  background-color: #eefcfa;
  padding: 3rem;
  box-shadow: 0 0 4px var(--color-primary);
  display: flex;
  height: 40rem;
  transition: rotate 0.2s;
}
.col-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-left-top-row {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.col-left-top-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.col-left-top-row > span:nth-of-type(1) {
  position: relative;
  font-size: 8rem;
  font-weight: bold;
  color: var(--color-primary);
}

.col-left-top-row > span:nth-of-type(1):after {
  content: 'Budapest';
  position: absolute;
  bottom: -10%;
  right: 50%;
  transform: translateX(50%);
  font-size: 2rem;
  font-weight: lighter;
  color: var(--color-secondary);
}

.plane-line {
  width: 10rem;
  height: 1px;
  background-color: var(--color-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.plane {
  rotate: 90deg;
  scale: 1.5;
  fill: var(--color-tertiary);
  animation-name: fly;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes fly {
  from {
    transform: translateY(4rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
  }
}

.col-left-top-row > span:nth-of-type(2) {
  position: relative;
  font-size: 8rem;
  font-weight: bold;
  color: var(--color-primary);
}

.col-left-top-row > span:nth-of-type(2):after {
  content: 'Helsinki';
  position: absolute;
  bottom: -10%;
  right: 50%;
  transform: translateX(50%);
  font-size: 2rem;
  font-weight: lighter;
  color: var(--color-secondary);
}

/* Col Left Middle Row */

.col-left-middle-row {
  background-color: #dffbf8;
  color: var(--color-secondary);
  display: flex;
  gap: 7rem;
  padding: 2rem 4rem;
  margin-bottom: 3rem;
}

.col-left-middle-row > div {
  display: flex;
  flex-direction: column;
}

.col-left-middle-row > div > span:nth-child(1) {
  font-size: 1.8rem;
}

.col-left-middle-row > div > span:nth-child(2) {
  color: var(--color-primary);
  font-size: 2.3rem;
  font-weight: bold;
}

/* Col Left Bottom Row */

.col-left-text {
  color: var(--color-tertiary);
  max-width: 50rem;
}

/* Dashed Line */

.dashed-line {
  margin-left: 6rem;
  align-self: center;
  height: 100%;
  width: 1px;
}

.dashed-line line {
  stroke: var(--color-secondary);
}

/* Col Right */

.col-right {
  rotate: -90deg;
  scale: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}
.col-right-middle-row {
  background-color: unset;
}

.barcode {
  height: 16rem;
}

@media all and (max-width: 1000px) {
  .card {
    rotate: 90deg;
    scale: 0.7;
  }
}
